<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="../" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink="../" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="cl-text-white navbar-brand cl-text-bold" routerLink="./">
      Edit Page
    </a>
  </div>
</nav>

<div class="container">
  <!--<div class="form-group">-->
    <!--<label for="page-id">Page Id</label>-->
    <!--<input [(ngModel)]="page._id" id="page-id" class="form-control"/>-->
  <!--</div>-->

  <div class="form-group">
    <label for="page-name">Name</label>
    <input [(ngModel)]="page.name" id="page-name" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="page-description">Description</label>
    <input [(ngModel)]="page.description" id="page-description" class="form-control"/>
  </div>

  <button class="btn btn-primary btn-block" (click)="updatePage(page)">Update</button>
  <button class="btn btn-danger btn-block" (click)="deletePage(page._id)">Delete</button>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/profile/{{userId}}" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
