<p>
  cake-customization works!
</p>



<div class="col-md-4 ">
  <img itemprop="photo" class="fimg"
       alt="Happy Birthday Chocolate Cake With Name"
       src="http://namebirthdaycakes.net/img/happy-birthday-chocolate-cake-with-name/5.jpg">

  <form class="form-group" id="birthdayform" method="post"
        action="./cake-customization.component.ts">


    <!--<div class="contact_btn">-->
    <!--<input type="hidden" value="5" name="cover_id">-->
    <!--<label class="btn1 btn-2 btn-2g"><input onclick="formclick(); return false;" name="submitbtn" type="submit" id="submitbtn" value="Generate Image Now!"></label>-->
    <!--</div>-->

    <input placeholder="Your Name Here" type="text"
           name="InputID[5][text]" class="name_field form-control"
           id="input Your Name Here" required="required"
           pattern=".{3,}" maxlength="15">

    <button class="btn-3d purple">
      <input onclick="formclick(); return false;" name="submitbtn" type="submit" id="submitbtn" value="Generate Image Now!">
    </button>
  </form>
</div>
