
<!--<script src="https://www.paypalobjects.com/api/checkout.js"></script>-->

<!--<head>-->
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--<paypal-button [props]="{ payment: payment, onAuthorize: onAuthorize }"></paypal-button>-->

<!--</head>-->
<body>
<div *ngIf="!cart.cakes || cart.cakes.length <= 0">
  <h3 class="text-center"> Oops! No Cakes in the Cart! </h3>
</div>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Quantity Amount</th>
    <th>Cake Name</th>
    <th>Cake Price</th>
    <th>Cake Image</th>
  </tr>
  </thead>
  <tbody>
  <div class="top-nav-collapse" *ngFor="let cake of cart.cakes">
    <td><h4>{{cake.quantity}}</h4></td>
    <td><h4>{{cake.name}}</h4></td>
    <td><h4>{{cake._id}}</h4></td>
    <td><button (click)= "findUrl(cake._id)"></button></td>
    <td><img src="{{cake.image}}" width="400" height="400"/></td>
    <td><button (click)="removeProduct(cake)" class="btn-3d purple">Remove Cake</button></td>
    <td><button (click)="getTotalPrice()">Get Total Price</button> </td>
  </div>

  <tr class="warning">
    <td><h4></h4></td>
    <td><h4>Total Items: {{totalQuantity}}</h4></td>
    <td><h4>Total: ${{totalPrice}}</h4></td>
    <!--<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>-->
    <!--<paypal-button [props]="{ payment: payment, onAuthorize: onAuthorize }"></paypal-button>-->
    <button (click)="checkout()" class="btn-3d purple" routerLink="./payment">Checkout</button>
    <app-paypal></app-paypal>
      <!--<div id="paypal-checkout-btn"></div>-->
  </tbody>
</table>
</body>
