<nav class="navbar navbar-fixed-top navbar-light bg-primary">
  <a class="navbar-brand" routerLink="/user/{{userId}}">
    <span class="glyphicon glyphicon-chevron-left text-white"></span>
  </a>
  <div class="navbar-brand text-white font-weight-bold">
    Websites
  </div>
  <a class="navbar-brand pull-right" routerLink="/user/{{userId}}/website/new">
    <span class="glyphicon glyphicon-plus text-white"></span>
  </a>
</nav>

<div class="container">
  <div *ngFor="let website of websites">
    <ul class="list-group cl-list-group-borderless">
      <a routerLink="/user/{{userId}}/website/{{website._id}}/page">{{website.name}}</a>
      <a class="pull-right" routerLink="/user/{{userId}}/website/{{website._id}}">
        <i class="glyphicon glyphicon-cog text-primary extra-right-padding"></i>
      </a>
    </ul>
  </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-light bg-primary">
  <a class="navbar-brand pull-right" routerLink="/user/{{userId}}">
    <span class="glyphicon glyphicon-user text-white"></span>
  </a>
</nav>


