<div class="container">
  <form #f="ngForm" (ngSubmit) = "createWidget()">
    <div class="form-group">
      <label for="widget-name">Name</label>
      <input type="text" class="form-control" id="widget-name" placeholder="Name" ngModel required name="name" #name="ngModel">
    </div>
    <div class="form-group">
      <label for="widget-text">Text</label>
      <input type="text" class="form-control" id="widget-text" placeholder="Text" ngModel required name="text" #text="ngModel">
    </div>
    <div class="form-group">
      <label for="widget-rows">Rows</label>
      <input type="text" class="form-control" id="widget-rows" placeholder="Rows" ngModel required name="rows" #rows="ngModel">
    </div>
    <div class="form-group">
      <label for="widget-placeholder">Placeholder</label>
      <input type="text" class="form-control" id="widget-placeholder" placeholder="Placeholder"
             ngModel required name="placeholder" #placeholder="ngModel">
    </div>
    <div class="input-group">
      <input type="text" readonly value="Formatted" class="form-control"/>
      <span class="input-group-addon">
        <!--<input [(ngModel)]="formatted" type="checkbox" name="formatted"/>-->
        <input type="checkbox" ngModel required name="formatted" #formatted="ngModel" [ngModelOptions]="{standalone: false}">
        <!--<input type="checkbox" ng-check="exists(item, selected)" ng-click="toggle(item, selected)" ngModel required name="formatted" #formatted="ngModel">-->
      </span>
    </div>
    <br/>

    <button class="btn btn-primary btn-block" type="submit">Create</button>
    <a class="btn btn-danger btn-block" routerLink="../">Cancel</a>
  </form>
</div>
