
<div class="container">
    <!--<div class="form-group">-->
      <!--<label for="heading-id">Id</label>-->
      <!--<input [(ngModel)]="widget._id" type="text" class="form-control" id="heading-id" placeholder="Id">-->
    <!--</div>-->

    <div class="form-group">
      <label for="heading-text">Text</label>
      <input [(ngModel)]="widget.text" type="text" class="form-control" id="heading-text" placeholder="Text">
    </div>

    <div class="form-group">
      <label for="heading-size">Size</label>
      <input [(ngModel)]="widget.size" type="text" class="form-control" id="heading-size" placeholder="Size">
    </div>

    <div class="alert alert-warning">
      Size can only between 1 to 6
    </div>

  <button class="btn btn-primary btn-block" (click)="updateWidget(widget)">Update</button>
  <button class="btn btn-danger btn-block" (click)="deleteWidget(widget._id)">Delete</button>
</div>



