
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right" (click)="updateWidgetController(widget)" )>
      <a routerLink="/widget/list" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" routerLink="#">
      Widgets Edit
    </a>
  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label for="heading-name">Name</label>
      <input type="text" class="form-control" id="heading-name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="heading-text">Text</label>
      <input [(ngModel)]="widget.text" type="text" class="form-control" id="heading-text" placeholder="text">
    </div>
    <div class="form-group">
      <label for="heading-size">Size</label>
      <input [(ngModel)]="widget.size" type="text" class="form-control" id="heading-size" placeholder="size">
    </div>
  </form>
  <a class="btn btn-danger  btn-block" (click) = "deleteWidgetController()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a routerLink="/profile" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>
  </div>
</nav>

