<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/new" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-plus">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" routerLink=".">
      Pages
    </a>
  </div>
</nav>


<div class="container-fluid cl-container-padding">
  <div *ngFor="let page of pages">
    <ul class="list-group cl-list-group-borderless">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{page._id}}"><span
        class="glyphicon glyphicon-cog pull-right"></span></a>
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
    </ul>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/user/{{userId}}" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>

