<div class="container">
  <form #f="ngForm" (ngSubmit) = "createWidget()">
    <div class="form-group">
      <label for="widget-text">Text</label>
      <input type="text" class="form-control" id="widget-text" placeholder="Text" ngModel required name="text" #text="ngModel">
    </div>

    <div class="form-group">
      <label for="widget-size">Size</label>
      <input type="text" class="form-control" id="widget-size" placeholder="Size" ngModel required name="size" #size="ngModel">
    </div>

    <div class="form-group">
      <label for="widget-url">Url</label>
      <input type="text" class="form-control" id="widget-url" placeholder="Url" ngModel required name="url" #url="ngModel">
    </div>

    <div class="form-group">
      <label for="widget-width">Width</label>
      <input type="text" class="form-control" id="widget-width" placeholder="width" ngModel required name="width" #width="ngModel">
    </div>

    <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">

      <input  name="myFile"   type="file" class="form-control"/>
      <input  name="widgetId" value="{{widgetId}}"   style="display: none"/>
      <input  name="websiteId" value="{{websiteId}}"   style="display: none"/>
      <input  name="pageId" value="{{pageId}}"   style="display: none"/>
      <input  name="userId" value="{{userId}}"   style="display: none"/>
      <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
      <br/>

    </form>
    <button class="btn btn-primary btn-block" type="submit">Create</button>
    <a class="btn btn-danger btn-block" routerLink="../">Cancel</a>
  </form>
</div>
