<p>
  cakes works!
</p>


<!--<% include partials/header %>-->

<div class="container">
  <header class="jumbotron">
    <div class="container"> <h1>Welcome to Lady Yang Cake</h1>
      <p>Enjoy the world-class yummy cake</p>
    </div>

    <a class="btn btn-primary btn-large" href="/cakes/new"> Add Your Own Cake</a>
  </header>
</div>

<div class="row" text="center" style="display: flex; flex-wrap: wrap">
  <div class="col-lg-h3">
    Our Most Popular Cake
  </div>
</div>





  <!--<% cakes.forEach(function(cake) { %>-->
  <!--<div>-->
    <!--<div class="col-md-3 col-sm-6">-->
      <!--<div class="thumbnail">-->
        <!--<img src="<%= cake.image %>">-->
        <!--<div class="caption">  <h4>-->
          <!--<li><%= cake.name%></li>-->
        <!--</h4></div>-->

      <!--</div>-->

    <!--</div>-->
    <!--<% }); %>-->
  <!--</div>-->
<!--</div>-->
