<div class="container">
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="Name" placeholder="Name" ngModel required name="name" #name="ngModel">
  </div>


  <div class="form-group">
    <label for="text">HTML</label>
    <quill-editor id="text" [(ngModel)]="widget.text" [ngModelOptions]="{standalone:true}"></quill-editor>
  </div>

  <br/>
  <button class="btn btn-primary btn-block" (click)="updateWidget(widget)">Update</button>
  <button class="btn btn-danger btn-block" (click)="deleteWidget(widget._id)">Delete</button>
</div>
