
<div *ngIf="passwordErrorFlag"
     class="alert alert-danger">
  {{passwordErrorMsg}}
</div>




<div class="container">


  <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
  <style>
    header {
      font-family: 'Dancing Script';font-size: 100px;
    }
  </style>
  <header>
    <div class="navbar-brand container" align="center">Register</div>

  </header>


  <form (ngSubmit) = "register()" #f="ngForm">
    <div class="form-group">
      <label>Username</label>
      <input   placeholder="username" type="text" class="form-control" ngModel required name="username" #username="ngModel"/>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input   placeholder="password" type="password" class="form-control" ngModel required name="password" #password="ngModel"/>
    </div>

    <div class="form-group">
      <label>Verify Password</label>
      <input   placeholder="verifypassword" type="password" class="form-control" ngModel required name="verifyPassword" #verifyPassword="ngModel"/>
    </div>

    <div class="form-group">
      <label>First Name</label>
      <input   placeholder="firstName" type="text" class="form-control" ngModel required name="firstName" #firstName="ngModel"/>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input   placeholder="lastName" type="text" class="form-control" ngModel required name="lastName" #lastName="ngModel"/>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input   placeholder="email" type="text" class="form-control" ngModel required name="email" #email="ngModel"/>
    </div>

    <button class="btn-3d purple" type="submit" [disabled]="!f.valid">Register</button>
    <button class="btn-3d purple" routerLink="/login">Cancel</button>

    <span class="help-block" *ngIf="!username.valid || username.untouched">
          Please enter valid username
    </span>


  </form>
</div>

