<!--<h1>Welcome to ILoveCake</h1>-->
<!--<% cakes.forEach(function(cake) { %>-->
    <!--<li>-->
        <!--<%= cake.name%>-->
     <!--<h4>-->
         <!--<img src="<%= cake.image%>">-->
     <!--</h4>-->
    <!--</li>-->
<!--<%});%>-->


<!--<div class="list-group cl-list-group-borderless" *ngFor="let cake of websites">-->
    <!--&lt;!&ndash;<a class="list-group-item cl-list-item-borderless" routerLink="./{{website._id}}/page">{{website.name}}</a>&ndash;&gt;-->
    <!--<a routerLink="./page">{{website.name}}</a>-->
    <!--<a class="pull-right" routerLink="./{{website._id}}">-->
        <!--<li class="list-group-item cl-list-item-borderless">-->
            <!--<a routerLink="./{{website._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>-->
        <!--</li>-->
    <!--</a>-->
<!--</div>-->
<!--</div>-->