<% include partials/header.ejs%>
<h1> Create a new Cake</h1>
<form action="/cakes" method="post">
    <input type="text" name = "name" placeholder="Name You Want" >
    <input type="text" name = "image" placeholder="Image link">
    <button> Submit You Wish Cake </button>
</form>