<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="login.component.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <!--<img class="src=https://myslu.slu.edu/res/images/cas-padlock-icon.png">-->
  <h1>Login</h1>

  <input ngModel = "username"
         id="Name"
         class="form-control"
         placeholder="Username"
         required autofocus/>


  <input ngModel = "password"
         id="Password"
         class="form-control"
         placeholder="Password"
         required autofocus/>

  <button class="btn btn-primary btn-block" type="submit" (click)="login(username,password)"> Login</button>
  <button class="btn btn-success btn-block" (click)="register()"> Register</button>
</div>
</body>


