<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>

<body>
  <nav class="navbar navbar-fixed-top cl-blue-navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#">
          Profile
        </a>
      </div>
    </div>
  </nav>


  <div class="container">
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="jannunzi">
      </div>

      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" placeholder="jannunzi@gmail.com">
      </div>

      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" id="first-name" placeholder="Jose">
      </div>

      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" class="form-control" id="last-name" placeholder="Annunziato">
      </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="../website/website-list.html">Websites</a>
    <a class="btn btn-danger btn-block"
       href="login.html">Logout</a>
  </div>

  <nav class="navbar navbar-fixed-bottom cl-blue-navbar">

  </nav>
</body>
</html>
