<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
  </head>
  <body>

    <nav class="navbar navbar-fixed-top cl-blue-navbar">
      <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#">
          Profile
        </a>

        <a href="profile.html" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
    </nav>

    <div class="container">
      <h1>Profile</h1>
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="first-name">First Name</label>
          <input type="text" class="form-control" id="first-name" placeholder="Jose">
        </div>
        <div class="form-group">
          <label for="last-name">Last Name</label>
          <input type="text" class="form-control" id="last-name" placeholder="Annunziato">
        </div>
      </form>

      <a class="btn btn-primary btn-block" href="../website/website-list.html">Websites</a>
      <a class="btn btn-danger  btn-block" href="login.html">Logout</a>
    </div>

    <nav class="navbar navbar-fixed-bottom cl-blue-navbar">
      <div class="container-fluid">
        <a href="profile.html" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </div>
    </nav>
  </body>
</html>
