
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="register.component.css" rel="stylesheet"/>
  <link href="register.css" rel = "stylesheet"/>
</head>
<body>
<div class="container">
  <h1>Register</h1>
  <div class = "usernamebox">
    <input ngModel = "username"
           id="name"
           class="form-control"
           placeholder="Username"/>
  </div>

  <div class = "passwordbox btn-block">
    <input ngModel = "password"
           id="inputPassword"
           class="form-control"
           placeholder="Password"/>
  </div>
  <div class = "verificationbox">
    <input ngModel = "verification"
           id="verifyPassword"
           class="form-control"
           placeholder="VerifyPassword"/>
  </div>

  <button class="btn btn-primary btn-block" type="submit" (click)="register()"> Register</button>
  <button class="btn btn-danger btn-block" (click)="cancel()"> Cancel</button>
</div>
</body>
