


<div class="container">

  <!--<div class="form-group">-->
    <!--<label for="youtube-id">Id</label>-->
    <!--<input [(ngModel)]="widget._id" type="text" class="form-control" id="youtube-id" placeholder="Name">-->
  <!--</div>-->

  <div class="form-group">
    <label for="youtube-text">Text</label>
    <input [(ngModel)]="widget.text" type="text" class="form-control" id="youtube-text" placeholder="Text">
  </div>

  <div class="form-group">
    <label for="youtube-URL">URL</label>
    <input [(ngModel)]="widget.url" type="text" class="form-control" id="youtube-URL" placeholder="URL">
  </div>

  <div class="form-group">
    <label for="youtube-width">Width</label>
    <input [(ngModel)]="widget.width" type="text" class="form-control" id="youtube-width" placeholder="100%">
  </div>

  <button class="btn btn-primary btn-block" (click)="updateWidget(widget)">Update</button>
  <a class="btn btn-danger btn-block" (click)="deleteWidget(widget._id)" routerLink="../">Delete</a>
</div>


