
<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="cl-text-white navbar-brand cl-text-bold" href="#">
        Profile
      </a>
    </div>
  </div>
</nav>


<div class="container">
  <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
  <style>
    header {
      font-family: 'Dancing Script';font-size: 100px;
    }
  </style>
  <header>
    <div class="navbar-brand container" align="center">Profile</div>

  </header>



  <input [(ngModel)]="user.username" class="form-control"/>

  <!--<input [(ngModel)]="user.password" type="password" class="form-control"/>-->

  <input [(ngModel)]="user.firstName" class="form-control"/>

  <input [(ngModel)]="user.lastName" class="form-control"/>

  <input [(ngModel)]="user.email" class="form-control"/>

  <button class="btn-3d purple" (click)="updateUser(user)">Update</button>

  <button class="btn-3d purple" routerLink="/{{user._id}}/cakes">View Cakes</button>

  <button class="btn-3d purple" routerLink="/profile/{{user._id}}/website">Websites</button>
  <button class="btn-3d purple" routerLink="/login">Logout</button>
  <button class="btn-3d purple" (click)="deleteUser(user._id)" routerLink="/login">Delete</button>



</div>
<nav class="navbar navbar-fixed-bottom cl-blue-navbar">

</nav>

