<!--<nav class="navbar navbar-fixed-top navbar-light bg-primary">-->
  <!--<div class="navbar-brand text-white font-weight-bold">-->
    <!--Profile-->
  <!--</div>-->
  <!--<a class="navbar-brand btn pull-right" (click)="updateUserInfo(user)">-->
    <!--<span class="glyphicon glyphicon-ok text-white"></span>-->
  <!--</a>-->
<!--</nav>-->
<!--<div class="container cl-body-padding">-->
  <!--<form>-->
    <!--<div class="form-group">-->
      <!--<label for="username">Username</label>-->
      <!--<input [(ngModel)]="user.username"  id="username" type="text" name="username" placeholder="jannunzi" class="form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="email">Email</label>-->
      <!--<input type="email" id="email" placeholder="jannunzi@gmail.com" class="form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="firstName">First Name</label>-->
      <!--<input [(ngModel)]="user.firstName" id="firstName" type="text" name="firstName" placeholder="Jose" class="form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="lastName">Last Name</label>-->
      <!--<input [(ngModel)]="user.lastName" id="lastName" type="text" name="lastName" placeholder="Annunziato" class="form-control">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<a routerLink="/user/{{user._id}}/website" class="btn btn-primary btn-block">Websites</a>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<a routerLink="/login" class="btn btn-danger btn-block">Logout</a>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->

<!--<nav class="navbar navbar-fixed-bottom navbar-light bg-primary">-->
  <!--<a class="navbar-brand pull-right" routerLink="/user/{{userId}}">-->
    <!--<i class="glyphicon glyphicon-user text-white"></i>-->
  <!--</a>-->
<!--</nav>-->

<nav class="navbar navbar-fixed-top navbar-light bg-primary">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMessage}}
  </div>
  <div class="navbar-brand text-white font-weight-bold">
    Profile
    <!--{{user.firstName}}-->
    <!--{{user.lastName}}-->
  </div>
  <a class="navbar-brand btn pull-right" (click)="updateUserInfo(user)">
    <span class="glyphicon glyphicon-ok text-white"></span>
  </a>
</nav>
<div class="container cl-body-padding">
  <form>
    <div class="form-group">
      <label>Username</label>
      <input [(ngModel)]="user.username" type="text" name="username" placeholder="jannunzi" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="jannunzi@gmail.com" class="form-control">
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input [(ngModel)]="user.firstName" type="text" name="firstName" placeholder="Jose" class="form-control">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input [(ngModel)]="user.lastName" type="text" name="lastName" placeholder="Annunziato" class="form-control">
    </div>
    <div class="form-group">
      <a routerLink="/user/{{user._id}}/website" class="btn btn-primary btn-block">Websites</a>
    </div>
    <div class="form-group">
      <a (click)="deleteUser()" class="btn btn-warning btn-block">Delete User</a>
    </div>
    <div class="form-group">
      <a routerLink="/login" class="btn btn-danger btn-block">Logout</a>
    </div>
  </form>
</div>
<nav class="navbar navbar-fixed-bottom navbar-light bg-primary">
  <a class="navbar-brand pull-right" routerLink="/user/{{userId}}">
    <i class="glyphicon glyphicon-user text-white"></i>
  </a>
</nav>
