/*body, html {*/
/*height: 100%;*/
/*}*/
/*.bg {*/
/*!* The image used *!*/
/*background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");*/

/*!* Full height *!*/
/*height: 100%;*/

/*!* Center and scale the image nicely *!*/
/*background-position: center;*/
/*background-repeat: no-repeat;*/
/*background-size: cover;*/
/*}*/



.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 50px;
  line-height: 20px;
  margin-left: 80px;
  color: deeppink;
}

input.form-control {
  margin-bottom: 5px;
  margin-left: 140px;
}

.form-control {
  display: block;
  width: 50%;
}


label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-left: 150px;
  font-weight: 700;
}

active{
  color: deeppink;
}



