/*body, html {*/
/*height: 100%;*/
/*}*/
/*.bg {*/
/*!* The image used *!*/
/*background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");*/

/*!* Full height *!*/
/*height: 100%;*/

/*!* Center and scale the image nicely *!*/
/*background-position: center;*/
/*background-repeat: no-repeat;*/
/*background-size: cover;*/
/*}*/



.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 50px;
  line-height: 20px;
  margin-left: 80px;
  color: deeppink;
}

input.form-control {
  margin-bottom: 5px;
  margin-left: 140px;
}

.form-control {
  display: block;
  width: 50%;
}


label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;


  font-weight: 700;
}

active{
  color: deeppink;
}

nav-item active.li{
  color: hotpink;
  text-underline-mode: under ;
}

md-form.li {
  color: hotpink;
  margin-bottom: 5px;
  margin-left: 0px;
}



@font-face {
  font-family: 'font-effect-neon'; /*a name to be used later*/
  src: url('http://domain.com/fonts/font.ttf'); /*URL to font*/
}


service {
  font-family: 'YourFontName';
  font-size: 10px;
  color: pink;
}

font-effect-neon {
  font-family: Lato;
  font-size: 8em;
  background: #111;
  text-align: center;
}
