


<!--<html>-->

<!--<link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>-->
<!--<style>-->
  <!--header {-->
    <!--font-family: 'Dancing Script';font-size: 50px;-->
  <!--}-->
<!--</style>-->
<!--<header>-->
  <!--<div class="navbar-brand container" align="center" >Lady Yang</div>-->

<!--</header>-->

<html>
<body>


<!--&lt;!&ndash;Main Navigation&ndash;&gt;-->


<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <!--<h1 class="navbar-brand"><strong> Miao Cake </strong></h1>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav mr-auto" style="list-style: none">
        <li class="nav-item active">
          <a class="nav-link" href="/cakes"> View More Cakes <span class="sr-only">(current)</span></a>

        <li class="nav-item active">
          <a class="nav-link" href="/profile"> Profile </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/login"> Login </a>
        </li>

      <li>


        <div class="md-form mt-0" pull-right>
          <!--<input class="form-control mr-sm-2 pull-right" type="text" placeholder="Search" aria-label="Search">-->
          <!--<button type="button" class="btn btn-default pull-right" type="submit">  Submit</button>-->
        <!--</div>-->

          <input class="form-control mr-sm-1 col-md-6" type="search">
          <button class="btn btn-default pull-right" type="submit">Search</button>

        </div>
      </li>
      </ul>

    </div>
  </div>

</nav>

<!--Intro Section-->
<section class="view intro-2 hm-gradient">
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="d-flex align-items-center content-height">
        <div class="row flex-center pt-5 mt-3">

          <div class="col-md-6 col-xl-5 offset-xl-1">
            <!--Form-->
            <div class="card wow fadeInRight" data-wow-delay="0.3s">
              <div class="card-body">
                <!--Header-->
                <div class="text-center">
                  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100&effect=neon">
                  <h3 class="font-effect-neon"><i class="fa fa-user white-text"></i> Login:</h3>
                  <hr class="hr-light">
                  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100&effect=neon">

                  <div class="font-effect-destruction">Sign in to create your own unique cake and enjoy the Premium Services</div>

                  <form (ngSubmit) = "login()" #f="ngForm">

                    <input  name="username" type="text" class="form-control" ngModel required #username="ngModel"/>
                    <span class="help-block" *ngIf="!username.valid && username.touched">
          Please enter username!
                    </span>
                    <label>Username</label>

                    <input  name="password" type="password" class="form-control" ngModel required #password="ngModel"/>
                    <label>Password</label>
                    <span class="help-block" *ngIf="!password.valid && password.touched">
          Please enter Password!
                    </span>
                    <div class="text-center">
                    <button class="btn-3d purple" (click)="login()" type="submit" [disabled]="!f.valid">Login</button>
                    </div>
                  </form>

                  <!--<form (ngSubmit) = "login()" #f="ngForm">-->
                <!--<div class="md-form">-->
                  <!--<i class="fa fa-lock prefix white-text active"></i>-->
                  <!--<input type="name" id="form1" class="form-control" ngModel required #username="ngModel">-->
                  <!--<label for="form1" class="active">Your Username</label>-->
                <!--</div>-->

                <!--<div class="md-form">-->
                  <!--<i class="fa fa-lock prefix white-text active"></i>-->
                  <!--<input type="password" id="form2" class="form-control" ngModel required #username="ngModel">-->
                  <!--<label for="form2" class="active">Your password</label>-->
                <!--</div>-->
                    <!--<span class="help-block" *ngIf="!username.valid && username.touched">-->
                    <!--Please enter username!-->
                    <!--</span>-->
                <!--<div class="text-center">-->
                  <!--<button class="btn btn-indigo" (click)="login()">Login</button>-->
                  <!--<hr class="hr-light mb-3 mt-4">-->

                  <!--&lt;!&ndash;<div class="inline-ul text-center d-flex justify-content-center">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"></i></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"> </i></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="icons-sm ins-ic"><i class="fa fa-instagram white-text"> </i></a>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                  <!--</form>-->



                  <!--<form (ngSubmit) = "login()" #f="ngForm">-->
                    <!--<label>Username</label>-->
                    <!--<input   placeholder="username" name="username" type="text" class="form-control" ngModel required #username="ngModel"/>-->

                    <!--<label>Password</label>-->
                    <!--<input   placeholder="password" name="password" type="password" class="form-control" ngModel required #password="ngModel"/>-->

                    <!--<span class="help-block" *ngIf="!username.valid && username.touched">-->
          <!--Please enter username!-->
    <!--</span>-->
                    <!--<button class="btn-3d purple" type="submit" [disabled]="!f.valid">Login</button>-->


                  <h3>Premium Services</h3>
                  <h5>CALL OR EMAIL TO ORDER( 212 ) 242-5858 INFO@EMPIRECAKE.COM</h5>
                  <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Speed up your shipping — and your growth. Our premium services include fast, global, transit solutions to meet even the tightest deadlines.</h6>
                  <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s" routerLink="../delivery">Learn more</a>

                </div>

              </div>
            </div>
          </div>



          <!--<div class="col-md-6 text-center text-md-left mb-5">-->
            <!--<div class="card-body">-->
              <!--&lt;!&ndash;<h2 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Sign up right now! </h2>&ndash;&gt;-->
              <!--<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">-->
              <!--<div class="text-center">-->
                <!--<h3 class="white-text"><i class="fa fa-user white-text"></i> Login:</h3>-->
                <!--<hr class="hr-light">-->
              <!--</div>-->
              <!--<div class="md-form">-->
                <!--<i class="fa fa-envelope prefix white-text active"></i>-->
                <!--<input type="email" id="form2" class="form-control">-->
                <!--<label for="form2" class="active">Your email</label>-->
              <!--</div>-->

              <!--<div class="md-form">-->
                <!--<i class="fa fa-lock prefix white-text active"></i>-->
                <!--<input type="password" id="form4" class="form-control">-->
                <!--<label for="form4" class="active">Your password</label>-->
              <!--</div>-->
              <!--<h3>Premium Services</h3>-->
              <!--<h5>CALL OR EMAIL TO ORDER( 212 ) 242-5858 INFO@EMPIRECAKE.COM</h5>-->
              <!--<h6 class="wow fadeInLeft" data-wow-delay="0.3s">Speed up your shipping — and your growth. Our premium services include fast, global, transit solutions to meet even the tightest deadlines.</h6>-->
              <!--<br>-->
              <!--<a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s" routerLink="/delivery">Learn more</a>-->
            <!--</div>-->
          <!--</div>-->

          <div class="col-md-6 col-xl-5 offset-xl-1">
            <!--Form-->
            <div class="card wow fadeInRight" data-wow-delay="0.3s">
              <div class="card-body">
                <!--Header-->
                <div class="text-center">
                  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100&effect=neon">
                  <h3 class="font-effect-neon"><i class="fa fa-user white-text"></i> Register:</h3>



                  <hr class="hr-light">
                  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100&effect=neon">

                  <!--<div class="font-effect-destruction">Sign in to create your own unique cake and enjoy the Premium Services</div>-->


                <!--&lt;!&ndash;Body&ndash;&gt;-->
                <!--<div class="md-form">-->
                  <!--<i class="fa fa-lock prefix white-text active"></i>-->
                  <!--<input type="text" id="form3" class="form-control">-->
                  <!--<label for="form3" class="active" style="align:center">Your name</label>-->
                <!--</div>-->
                <!--<div class="md-form">-->
                  <!--<i class="fa fa-lock prefix w4ite-text active"></i>-->
                  <!--<input type="email" id="form4" class="form-control">-->
                  <!--<label for="form4" class="active">Your email</label>-->
                <!--</div>-->

                <!--<div class="md-form">-->
                  <!--<i class="fa fa-lock prefix white-text active"></i>-->
                  <!--<input type="password" id="form5" class="form-control">-->
                  <!--<label for="form5" class="active">Your password</label>-->
                <!--</div>-->
                  <!---->

                <!--<div class="text-center">-->
                  <!--<button class="btn btn-indigo">Register</button>-->
                  <!--<hr class="hr-light mb-3 mt-4">-->
                  <!--<div class="inline-ul text-center d-flex justify-content-center">-->
                    <!--<a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"></i></a>-->
                    <!--<a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"> </i></a>-->
                    <!--<a class="icons-sm ins-ic"><i class="fa fa-instagram white-text"> </i></a>-->
                  <!--</div>-->
                <!--</div>-->
                  <!---->

                  <form (ngSubmit) = "login()" #f="ngForm">

                    <input  name="username" type="text" class="form-control" ngModel required #username="ngModel"/>
                    <span class="help-block" *ngIf="!username.valid && username.touched">
          Please enter username!
                    </span>
                    <label>Username</label>

                    <input  name="password" type="password" class="form-control" ngModel required #password="ngModel"/>
                    <label>Password</label>
                    <span class="help-block" *ngIf="!password.valid && password.touched">
          Please enter Password!
                    </span>

                    <input  name="email" type="password" class="form-control" ngModel required #password="ngModel"/>
                    <label>Email</label>
                    <span class="help-block" *ngIf="!password.valid && password.touched">
          Please enter Password!
                    </span>
                    <div class="text-center">
                      <button class="btn-3d purple" (click)="login()" type="submit" [disabled]="!f.valid">Register</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
            <!--/.Form-->
          </div>
        </div>
      </div>
    </div>
  </div>

</section>



<!--Main Navigation-->

<!--Main Layout-->
<main>

  <div class="container">

    <!--Grid row-->
    <div class="row py-5">

      <!--Grid column-->
      <div class="col-md-12 text-center">

        <p>Choose the cake you like or design the cake yourself! Good life with cake and happiness and blessings from our premium service! </p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>

</main>
<!--Main Layout-->
<router-outlet></router-outlet>

</body>

</html>
