<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="../" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>

    <a class="navbar-brand cl-text-white cl-text-bold" routerLink="./">
      Choose Widget
    </a>
  </div>
</nav>

<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="HEADING">Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./">Label</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="HTML">HTML</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="TEXT">Text Input</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./">Link</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./">Button</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="IMAGE">Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="YOUTUBE">YouTube</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./">Data Table</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a routerLink="./">Repeater</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a routerLink="profile/{{userId}}" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>
  </div>
</nav>
