<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink=".." class="navbar-link cl-text-white">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>
    <a class="cl-text-white navbar-brand cl-text-bold" routerLink=".">
      Websites
    </a>
    <a routerLink="./new" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
</nav>

<div class="container-fluid">
  <ul class="list-group cl-list-group-borderless">
    <li *ngFor = "let website of websites" class="list-group-item cl-list-item-borderless">
      <a routerLink="./{{website._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
      <a routerLink="./{{website._id}}/page">{{website.name}}</a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
  <div class="container-fluid">
    <a routerLink=".." class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
