<!--<h1>Index</h1>-->
<!--<a routerLink="/login">Login</a>-->
<!--<a routerLink="/register">Register</a>-->
<!--<a routerLink="/profile">Profile</a>-->




<!--<h1>Landing Page</h1>-->
<!--<p>Welcome to Lady Yang's Cake world</p>-->
<!--<a href="/cakes">View All Cakes</a>-->


<!--<body>-->

<!--<div class="bg"></div>-->

<!--<p class="py-5 text-center">This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>-->

<!--</body>-->

<!--<router-outlet></router-outlet>-->



<html lang="en" class="full-height">
<link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
<style>
  header {
    font-family: 'Dancing Script';font-size: 40px;
  }
</style>
<header>
<div class="navbar-brand container" align="center" >Lady Yang</div>
</header>

<body>


<!--Main Navigation-->


  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <!--<h1 class="navbar-brand"><strong> Miao Cake </strong></h1>-->

      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto" style="list-style: none">
          <li class="nav-item active">
            <a class="nav-link" href="./cakes">View More Cakes <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
        <form class="form-inline">
          <div class="md-form mt-0" pull-right>
           <input class="form-control mr-sm-2 pull-right" type="text" placeholder="Search" aria-label="Search">
            <button type="button" class="btn btn-default pull-right" type="submit" [disabled]="!f.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <!--Intro Section-->
  <section class="view intro-2 hm-gradient">
    <div class="full-bg-img">
      <div class="container flex-center">
        <div class="d-flex align-items-center content-height">
          <div class="row flex-center pt-5 mt-3">
            <div class="col-md-6 text-center text-md-left mb-5">
              <div class="white-text">
                <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Sign up right now! </h1>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</h6>
                <br>
                <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s">Learn more</a>
              </div>
            </div>

            <div class="col-md-6 col-xl-5 offset-xl-1">
              <!--Form-->
              <div class="card wow fadeInRight" data-wow-delay="0.3s">
                <div class="card-body">
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="white-text"><i class="fa fa-user white-text"></i> Register:</h3>
                    <hr class="hr-light">
                  </div>

                  <!--Body-->
                  <div class="md-form">
                    <i class="fa fa-user prefix white-text active"></i>
                    <input type="text" id="form3" class="form-control">
                    <label for="form3" class="active flex center" >Your name</label>
                  </div>
                  <div class="md-form">
                    <i class="fa fa-envelope prefix white-text active"></i>
                    <input type="email" id="form2" class="form-control">
                    <label for="form2" class="active">Your email</label>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-lock prefix white-text active"></i>
                    <input type="password" id="form4" class="form-control">
                    <label for="form4" class="active">Your password</label>
                  </div>

                  <div class="text-center">
                    <button class="btn btn-indigo">Sign up</button>
                    <hr class="hr-light mb-3 mt-4">

                    <div class="inline-ul text-center d-flex justify-content-center">
                      <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"></i></a>
                      <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"> </i></a>
                      <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text"> </i></a>
                    </div>
                  </div>

                </div>
              </div>
              <!--/.Form-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<!--Main Navigation-->

<!--Main Layout-->
<main>

  <div class="container">

    <!--Grid row-->
    <div class="row py-5">

      <!--Grid column-->
      <div class="col-md-12 text-center">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>

</main>
<!--Main Layout-->

</body>
</html>
