
<!DOCTYPE html>
<html>
<link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
<style>
  header {
    font-family: 'Dancing Script';font-size: 50px;
  }
</style>
<header class="page-header" align="center" >Lady Yang
</header>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<!--&lt;!&ndash;<h1>Landing Page</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<p>Welcome to Lady Yang's Cake world</p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/cakes">View All Cakes</a>&ndash;&gt;-->


<!--&lt;!&ndash;<body>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="bg"></div>&ndash;&gt;-->

<!--&lt;!&ndash;<p class="py-5 text-center">This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>&ndash;&gt;-->

<!--&lt;!&ndash;</body>&ndash;&gt;-->

<!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->



<!--<html lang="en" class="full-height">-->
<!--<link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>-->
<!--<style>-->
  <!--header {-->
    <!--font-family: 'Dancing Script';font-size: 40px;-->
  <!--}-->
<!--</style>-->
<!--<header>-->
<!--<div class="navbar-brand container" align="center" >Lady Yang</div>-->
<!--</header>-->

<!--<body>-->


<!--&lt;!&ndash;Main Navigation&ndash;&gt;-->


  <!--<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">-->
    <!--<div class="container">-->
      <!--&lt;!&ndash;<h1 class="navbar-brand"><strong> Miao Cake </strong></h1>&ndash;&gt;-->

      <!--<div class="collapse navbar-collapse" id="navbarSupportedContent-7">-->
        <!--<ul class="navbar-nav mr-auto" style="list-style: none">-->
          <!--<li class="nav-item active">-->
            <!--<a class="nav-link" routerLink="/cakes">View More Cakes <span class="sr-only">(current)</span></a>-->

          <!--<li class="nav-item">-->
            <!--<a class="nav-link" routerLink="/profile">Profile</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" routerLink="/login">Login</a>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<form class="form-inline">-->
          <!--<div class="md-form mt-0" pull-right>-->
           <!--<input class="form-control mr-sm-2 pull-right" type="text" placeholder="Search" aria-label="Search">-->
            <!--<button type="button" class="btn btn-default pull-right" type="submit">Submit</button>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</nav>-->

  <!--&lt;!&ndash;Intro Section&ndash;&gt;-->
  <!--<section class="view intro-2 hm-gradient">-->
    <!--<div class="full-bg-img">-->
      <!--<div class="container flex-center">-->
        <!--<div class="d-flex align-items-center content-height">-->
          <!--<div class="row flex-center pt-5 mt-3">-->
            <!--<div class="col-md-6 text-center text-md-left mb-5">-->
              <!--<div class="white-text">-->
                <!--<h2 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Sign up right now! </h2>-->
                <!--<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">-->
                <!--<h3>Premium Services</h3>-->
                <!--<h5>CALL OR EMAIL TO ORDER( 212 ) 242-5858 INFO@EMPIRECAKE.COM</h5>-->
                <!--<h6 class="wow fadeInLeft" data-wow-delay="0.3s">Speed up your shipping — and your growth. Our premium services include fast, global, transit solutions to meet even the tightest deadlines.</h6>-->
                <!--<br>-->
                <!--<a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s" routerLink="/delivery">Learn more</a>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-6 col-xl-5 offset-xl-1">-->
              <!--&lt;!&ndash;Form&ndash;&gt;-->
              <!--<div class="card wow fadeInRight" data-wow-delay="0.3s">-->
                <!--<div class="card-body">-->
                  <!--&lt;!&ndash;Header&ndash;&gt;-->
                  <!--<div class="text-center">-->
                    <!--<h3 class="white-text"><i class="fa fa-user white-text"></i> Register:</h3>-->
                    <!--<hr class="hr-light">-->
                  <!--</div>-->

                  <!--&lt;!&ndash;Body&ndash;&gt;-->
                  <!--<div class="md-form">-->
                    <!--<i class="fa fa-user prefix white-text active"></i>-->
                    <!--<input type="text" id="form3" class="form-control">-->
                    <!--<label for="form3" class="active">Your name</label>-->
                  <!--</div>-->
                  <!--<div class="md-form">-->
                    <!--<i class="fa fa-envelope prefix white-text active"></i>-->
                    <!--<input type="email" id="form2" class="form-control">-->
                    <!--<label for="form2" class="active">Your email</label>-->
                  <!--</div>-->

                  <!--<div class="md-form">-->
                    <!--<i class="fa fa-lock prefix white-text active"></i>-->
                    <!--<input type="password" id="form4" class="form-control">-->
                    <!--<label for="form4" class="active">Your password</label>-->
                  <!--</div>-->

                  <!--<div class="text-center">-->
                    <!--<button class="btn btn-indigo">Sign up</button>-->
                    <!--<hr class="hr-light mb-3 mt-4">-->

                    <!--<div class="inline-ul text-center d-flex justify-content-center">-->
                      <!--<a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"></i></a>-->
                      <!--<a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"> </i></a>-->
                      <!--<a class="icons-sm ins-ic"><i class="fa fa-instagram white-text"> </i></a>-->
                    <!--</div>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->
              <!--&lt;!&ndash;/.Form&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->


<!--&lt;!&ndash;Main Navigation&ndash;&gt;-->

<!--&lt;!&ndash;Main Layout&ndash;&gt;-->
<!--<main>-->

  <!--<div class="container">-->

    <!--&lt;!&ndash;Grid row&ndash;&gt;-->
    <!--<div class="row py-5">-->

      <!--&lt;!&ndash;Grid column&ndash;&gt;-->
      <!--<div class="col-md-12 text-center">-->

        <!--<p>Choose the cake you like or design the cake yourself! Good life with cake and happiness and belssings from our premium service! </p>-->

      <!--</div>-->
      <!--&lt;!&ndash;Grid column&ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash;Grid row&ndash;&gt;-->

  <!--</div>-->

<!--</main>-->
<!--&lt;!&ndash;Main Layout&ndash;&gt;-->
<!--<router-outlet></router-outlet>-->

<!--</body>-->
<!--</html>-->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->

  <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
    <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Link</a>-->
      <!--</li>-->
      <!--<li class="nav-item dropdown">-->
        <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--Dropdown-->
        <!--</a>-->
        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<div class="dropdown-divider"></div>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  <!--</div>-->
<!--</nav>-->



<div class="header-right dropdown">

  <!--<a href="#default" class="logo">CompanyLogo</a>-->

    <a class="btn-3d purple" href="http://localhost:4200/">Home</a>


        <a class="btn-3d purple dropdown-header" type="button" id="menu1" data-toggle="dropdown">Contact
          <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
            <li role="presentation">Phone<a role="menuitem" tabindex="-1" href="#Phone">Phone</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#Email">Email</a></li>

          </ul>
        <a class="btn-3d purple" href="#about">About</a>



  <a class="btn-3d purple dropdown-toggle" type="button" data-toggle="dropdown">Contacts
    <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#html">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>

</html>

<!--<div class="dropdown">-->
  <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example-->
    <!--<span class="caret"></span></button>-->
  <!--<ul class="dropdown-menu">-->
    <!--<li><a href="#">HTML</a></li>-->
    <!--<li><a href="#">CSS</a></li>-->
    <!--<li><a href="#">JavaScript</a></li>-->
  <!--</ul>-->
<!--</div>-->
<!--<a routerLink="/main-page">Main Page</a>-->
<!--<a routerLink="/register">Register</a>-->
<!--<a routerLink="/profile">Profile</a>-->

<router-outlet></router-outlet>

