<h1> Login </h1>


<div *ngIf="errorFlag"
     class="alert alert-danger">
  {{errorMsg}}

</div>


<form (ngSubmit) = "login()" #f="ngForm">
  <label>Username</label>
  <input placeholder="username" name="username" type="text" class="form-control" ngModel required #username="ngModel"/>

  <label>Password</label>
  <input placeholder="password" name="password" type="text" class="form-control" ngModel required #password="ngModel"/>

  <span class="help-block" *ngIf="!username.valid && username.touched">
        Please enter username!
  </span>
  <button class="btn btn-primary btn-block" type="submit"> Login </button>
  <!--<button class="btn btn-primary btn-block" type="button" routerLink="/profile" (click)="login()" disabled]="!f.valid"> Login </button>-->
  <button class="btn btn-success btn-block" (click)="register()"> Register</button>
</form>



