<nav class="navbar navbar-fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/..}" class="navbar-link cl-text-white">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>
    <a class="cl-text-white navbar-brand cl-text-bold" href="#">
      Cakes
    </a>
    <a routerLink="./new" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
</nav>
<div>

<button class="btn-3d purple" (click)="viewShoppingCart()">
  View shoppingCart
</button>
</div>

<div class="container">
    <div class="row" >
      <div class="col-lg-6 image-size" *ngFor = "let cake of cakes">
      <!--<a routerLink="{{cake._id}}">-->
      <h4>{{cake.name}}</h4>
        <div class="thumbnail">
      <img src="{{cake.url}}">
        <button class="glyphicon glyphicon-plus" type="submit" (click)="addToCart(cake._id)">
        </button>
      <button class="glyphicon glyphicon-heart" type="submit" (click)="likeCake(cake._id)">
      </button>
      <!--</a>-->
      <button routerLink="{{cake._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></button>
        </div>
    </div>
    </div>

</div>

<!--<div *ngFor = "let cake of cakes">-->




<!--<div class="container">-->
    <!--<div class="row">-->
  <!--<div class="col-lg-6">-->
    <!--<div class="thumbnail image-size">-->
    <!--<img src="../../../assets/uploads/Top-1.jpg">-->
      <!--<h5></h5>-->
    <!--<button class="glyphicon glyphicon-plus" type="submit" (click)="addToCart(cake._id)">-->
    <!--</button>-->
    <!--<button class="glyphicon glyphicon-heart" type="submit" (click)="likeCake(cake._id)">-->
    <!--</button>-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--<button routerLink="{{cake._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></button>-->
  <!--</div>-->

  <!--</div>-->

      <!--<div class="col-lg-6">-->
        <!--<div class="thumbnail image-size">-->
        <!--<img src="../../../assets/uploads/top-2.jpeg">-->
          <!--<h5></h5>-->
        <!--<button class="glyphicon glyphicon-plus" type="submit" (click)="addToCart(cake._id)">-->
        <!--</button>-->
        <!--<button class="glyphicon glyphicon-heart" type="submit" (click)="likeCake(cake._id)">-->
        <!--</button>-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--<button routerLink="{{cake._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></button>-->
      <!--</div>-->
      <!--</div>-->
      <!--<h5></h5>-->
      <!--<div class="col-lg-6">-->
        <!--<div class="thumbnail image-size">-->
          <!--<img src="../../../assets/uploads/top-3.jpeg">-->
          <!--<h5></h5>-->
          <!--<button class="glyphicon glyphicon-plus" type="submit" (click)="addToCart(cake._id)">-->
          <!--</button>-->
          <!--<button class="glyphicon glyphicon-heart" type="submit" (click)="likeCake(cake._id)">-->
          <!--</button>-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--<button routerLink="{{cake._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></button>-->
        <!--</div>-->
      <!--</div>-->


      <!--<div class="col-lg-6">-->
        <!--<div class="thumbnail image-size">-->
          <!--<img src="../../../assets/uploads/rosegarden.jpg">-->
          <!--<h5></h5>-->
          <!--<button class="glyphicon glyphicon-plus" type="submit" (click)="addToCart(cake._id)">-->
          <!--</button>-->
          <!--<button class="glyphicon glyphicon-heart" type="submit" (click)="likeCake(cake._id)">-->
          <!--</button>-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--<button routerLink="{{cake._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-6">-->
        <!--<div class="thumbnail image-size">-->
          <!--<img src="../../../assets/uploads/summercake.jpg">-->
          <!--<h5></h5>-->
          <!--<button class="glyphicon glyphicon-plus" type="submit" (click)="addToCart(cake._id)">-->
          <!--</button>-->
          <!--<button class="glyphicon glyphicon-heart" type="submit" (click)="likeCake(cake._id)">-->
          <!--</button>-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--<button routerLink="{{cake._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></button>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-lg-6">-->
        <!--<div class="thumbnail image-size">-->
          <!--<img src="../../../assets/uploads/PeppaPigcake.JPG">-->
          <!--<h5></h5>-->
          <!--<button class="glyphicon glyphicon-plus" type="submit" (click)="addToCart(cake._id)">-->
          <!--</button>-->
          <!--<button class="glyphicon glyphicon-heart" type="submit" (click)="likeCake(cake._id)">-->
          <!--</button>-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--<button routerLink="{{cake._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-6">-->
        <!--<div class="thumbnail image-size">-->
          <!--<img src="../../../assets/uploads/2D-Pikachu-1024x768.jpg">-->
          <!--<h5></h5>-->
          <!--<button class="glyphicon glyphicon-plus" type="submit" (click)="addToCart(cake._id)">-->
          <!--</button>-->
          <!--<button class="glyphicon glyphicon-heart" type="submit" (click)="likeCake(cake._id)">-->
          <!--</button>-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--<button routerLink="{{cake._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-6">-->
        <!--<div class="thumbnail image-size">-->
          <!--<img src="../../../assets/uploads/Pikachu-Shy-1024x768.jpg">-->
          <!--<h5></h5>-->
          <!--<button class="glyphicon glyphicon-plus" type="submit" (click)="addToCart(f._id)">-->
          <!--</button>-->
          <!--<button class="glyphicon glyphicon-heart" type="submit" (click)="likeCake(cake._id)">-->
          <!--</button>-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--<button routerLink="{{cake._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-6">-->
        <!--<div class="thumbnail image-size">-->
          <!--<img src="../../../assets/uploads/puppy.jpg">-->
          <!--<h5></h5>-->
          <!--<button class="glyphicon glyphicon-plus" type="submit" (click)="addToCart(cake._id)">-->
          <!--</button>-->
          <!--<button class="glyphicon glyphicon-heart" type="submit" (click)="likeCake(cake._id)">-->
          <!--</button>-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--<button routerLink="{{cake._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->
