<div class="container-fluid cl-body-padding">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <h1>Login</h1>
  <form (ngSubmit)="login(username,password)" #f="ngForm">

    <div class="form-group">
      <!--<input type="text" name="username" placeholder="username" class="form-control" ngModel required #username="ngModel">-->
      <input [(ngModel)]="username" type="text" name="username" placeholder="username" class="form-control">
    </div>
    <!--<span class="help-block" *ngIf="!username.valid && username.touched">-->
      <!--Please enter username!-->
    <!--</span>-->

    <div class="form-group">
      <!--<input type="password" name="password" placeholder="password" class="form-control" ngModel required #password="ngModel">-->
      <input [(ngModel)]="password" type="password" name="password" placeholder="password" class="form-control">
    </div>
    <!--<span class="help-block" *ngIf="!password.valid && password.touched">-->
      <!--Please enter password!-->
    <!--</span>-->

    <div class="form-group">
      <!--<button [disabled]="!f.valid" class="btn btn-primary btn-block" type="submit">Login</button>-->
      <button class="btn btn-primary btn-block" type="submit">Login</button>
    </div>

    <div class="form-group">
      <a routerLink="/register" class="btn btn-success btn-block">Register</a>
    </div>
  </form>
</div>
