<div class="container">
  <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
  <style>
    header {
      font-family: 'Dancing Script';font-size: 100px;
    }
  </style>
  <header>
    <div class="navbar-brand container" align="center">Login</div>

  </header>


  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}

  </div>

  <form (ngSubmit) = "login()" #f="ngForm">
    <label>Username</label>
    <input   placeholder="username" name="username" type="text" class="form-control" ngModel required #username="ngModel"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
          Please enter username!
    </span>
    <label>Password</label>
    <input   placeholder="password" name="password" type="password" class="form-control" ngModel required #password="ngModel"/>

    <span class="help-block" *ngIf="!password.valid && password.touched">
          Please enter Password!
    </span>

    <button class="btn-3d purple" (click)="login()" type="submit" [disabled]="!f.valid">Login</button>
    <a class="btn-3d purple" routerLink="/register" role="button">Register</a>
    <a href="http://localhost:3100/auth/facebook/login" class="btn-3d purple">
      <span class="fa fa-facebook"></span>
      Facebook
    </a>
  </form>
</div>
