<h1> Register </h1>


<div *ngIf="errorFlag"
     class="alert alert-danger">
  {{errorMsg}}

</div>

<form (ngSubmit) = "register()" #f="ngForm">
  <label>Username</label>
  <input   placeholder="Username" name="username" type="text" class="form-control" ngModel required #username="ngModel"/>

  <label>Password</label>
  <input   placeholder="Password" name="password" type="text" class="form-control" ngModel required #password="ngModel"/>

  <label>Verification</label>
  <input   placeholder="VerifyPassword" name="verification" type="text" class="form-control" ngModel required #password="ngModel"/>

  <label>FirstName</label>
  <input   placeholder="FirstName" name="firstname" type="text" class="form-control" ngModel required #password="ngModel"/>

  <label>LastName</label>
  <input   placeholder="LatName" name="lastname" type="text" class="form-control" ngModel required #password="ngModel"/>

  <span class="help-block" *ngIf="!username.valid && username.touched">
        Please enter username!
  </span>
  <span class="help-block" *ngIf="!password.valid && password.touched">
        Please enter password!
  </span>
  <button class="btn btn-primary btn-block" type="submit" [disabled]="!f.valid">Register</button>



</form>
