<div class="container">
  <h1>Register</h1>
  <form (ngSubmit)="register()" #f="ngForm">


    <input [(ngModel)]="username" type="text" class="form-control"id="username" placeholder="Username" />


    <input [(ngModel)]="username" type="text" class="form-control"id="password" placeholder="Password" />


    <input [(ngModel)]="verifyPassword" type="text" class="form-control"id="verificationPassword" placeholder="VerificationPassword" />


  <button class="btn btn-primary btn-block" type = "submit" [disabled]="!f.valid"> Register</button>
    <button class="btn btn-danger btn-block" (click)="cancel()"> Cancel</button>

    <span class="btn-block" *ngIf="userDuplicateError"
          class = "alert jasmine-alert" error()>
      {{userDuplicateErrorMsg}}
    </span>
    <span class="btn-block" *ngIf="errorFlag"
          class = "alert jasmine-alert" error()>
      {{errorMsg}}
    </span>
  </form>
</div>

<!--<div class="container-fluid cl-body-padding">-->
  <!--<div *ngIf="errorFlag" class="alert alert-danger">-->
    <!--{{errorMsg}}-->
  <!--</div>-->
  <!--<h1>Register</h1>-->
  <!--<form (ngSubmit)="register()" #f="ngForm">-->

    <!--<div class="form-group">-->
      <!--<input type="text" name="username" placeholder="username" class="form-control" ngModel required #username="ngModel">-->
    <!--</div>-->
    <!--<span class="help-block" *ngIf="!username.valid && username.touched">-->
      <!--Please enter username!-->
    <!--</span>-->

    <!--<div class="form-group">-->
      <!--<input type="password" name="password" placeholder="password" class="form-control" ngModel required #password="ngModel">-->
    <!--</div>-->
    <!--<span class="help-block" *ngIf="!password.valid && password.touched">-->
      <!--Please enter password!-->
    <!--</span>-->
    <!--<div class="form-group">-->
      <!--<input type="password" name="verifyPassword" placeholder="verify password" class="form-control" ngModel required #verifyPassword="ngModel">-->
    <!--</div>-->
    <!--<span class="help-block" *ngIf="!verifyPassword.valid && verifyPassword.touched">-->
      <!--Please enter verify password!-->
    <!--</span>-->

    <!--<div class="form-group">-->
      <!--<button [disabled]="!f.valid" class="btn btn-primary btn-block">Register</button>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<a [routerLink]="['/login']" class="btn btn-danger btn-block">Cancel</a>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->
