<div class="container">
  <h1>Register</h1>
  <form (ngSubmit)="register()" #f="ngForm">

    <input [(ngModel)]="username" type="text" class="form-control"id="username" placeholder="Username"
           [ngModelOptions]="{standalone: true}"/>

    <input [(ngModel)]="password" type="text" class="form-control"id="password" placeholder="Password"
           [ngModelOptions]="{standalone: true}"/>

    <input [(ngModel)]="verifyPassword" type="text" class="form-control"id="verifyPassword"
           placeholder="VerificationPassword"
           [ngModelOptions]="{standalone: true}"/>

    <button class="btn btn-primary btn-block" type = "submit" [disabled]="!f.valid"> Register</button>
    <button class="btn btn-danger btn-block" (click)="cancel()"> Cancel</button>

    <span class="btn-block" *ngIf="userDuplicateError"
          class = "alert jasmine-alert">
      {{userDuplicateErrorMsg}}
    </span>
    <span class="btn-block" *ngIf="errorFlag"
          class = "alert jasmine-alert">
      {{errorMsg}}
    </span>
  </form>
</div>
