<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a (click)="updateWidget(widget)"  class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Widget Edit {{widget.widgetType}} {{widget.url}}
    </a>
  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label for="image-name">Name</label>
      <input type="text" class="form-control" name="image-name" id="image-name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="image-text">Text</label>
      <input type="text" class="form-control" name="image-text" id="image-text" placeholder="Text">
    </div>
    <!--<div class="form-group">-->
      <!--<label for="image-URL">URL</label>-->
      <!--<input [(ngModel)]="widget.url" type="text" class="form-control" name="image-URL" id="image-URL" placeholder="URL">-->
    <!--</div>-->
    <div class="form-group">
      <label for="image-width">Width</label>
      <input [(ngModel)]="widget.width" type="text" class="form-control" name="image-width" id="image-width" placeholder="100%">
    </div>
    <!--<div class="form-group">-->
      <!--<label for="exampleInputFile">Upload</label>-->
      <!--<input type="file" class="form-control" id="exampleInputFile">-->
    <!--</div>-->
  </form>
  <!--<a class="btn btn-primary btn-block">Upload Image</a>-->

  <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
    <input name="myFile" type="file" class="form-control" />
    <input name="widgetId" value="{{widgetId}}" style="display: none" />
    <input name="websiteId" value="{{websiteId}}" style="display: none" />
    <input name="pageId" value="{{pageId}}" style="display: none" />
    <input name="userId" value="{{userId}}" style="display: none" />
    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
    <br/>
  </form>

  <a class="btn btn-danger  btn-block" (click)="deleteWidget()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/user/{{userId}}" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
