
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left" routerLink='/profile/{{userId}}/website/{websiteId}}/page/{{pageId}}/widget'>
      <a  routerLink='/profile/{{userId}}/website/{websiteId}}/page/{{pageId}}/widget' class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right" (click)="updateOrCreate()">
      <a routerLink="../.." class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold">
      Widgets Edit
    </a>
  </div>
</nav>

<div class="container">
  <form #f = "ngForm">
    <div class="form-group">
      <label for="imageName">Name</label>
      <input [(ngModel)]="widget.text" type="name" class="form-control"
             id="imageName" placeholder="name" [ngModelOptions]="{standalone: true}"></div>

        <div class="form-group">
          <label for="image-text">Text</label>
          <input [(ngModel)]="widget.text" type="text" class="form-control" id="image-text" placeholder="Text"
                 [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
          <label for="image-URL">URL</label>
          <input [(ngModel)]="widget.url" type="text" class="form-control" id="image-URL" placeholder="URL"
                 [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
          <label for="image-width">Width</label>
          <input [(ngModel)]="widget.width" type="text" class="form-control" id="image-width" placeholder="100%"
                 [ngModelOptions]="{standalone: true}">
        </div>

  </form>
  <a class="btn btn-primary btn-block" routerLink="./">Upload Image</a>
  <a class="btn btn-danger  btn-block" routerLink=".." (click) = "deleteWidgetController()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a routerLink="/profile/{{userId}}" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>
  </div>
</nav>

