
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a routerLink=".." class="cl-text-black cl-icon-padding">
            <span class="glyphicon glyphicon-chevron-left" >
            </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink=".." class="cl-icon-padding cl-text-black" (click)="createPage()">
            <span class="glyphicon glyphicon-ok">
            </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      New Page
    </a>
  </div>
</nav>

<form (ngSubmit) = "createPage()" #f="ngForm">

  <label for="name">Name</label>
  <input [(ngModel)]="page.name"  name="pagename" type="text" id="name" placeholder="Page Name" class = "form-control">

  <div class="form-group">
    <label for="pagetitle">Title</label>
    <input [(ngModel)]="page.title" name="pagetitle" type="text" class="form-control" id="pagetitle" placeholder="Page Name">
  </div>
</form>



<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/profile/{{userId}}" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>

