<html>
<h1>Landing Page</h1>

<p>Welcome to Lady Yang's Cake world</p>

<a href="/cakes">View All Cakes</a>

<body>

<div class="bg"></div>

<p class="py-5 text-center">This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>

</body>
</html>
