

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row" routerLink="/user/{{userId}}/website/{{websiteId}}/page">

    <div class="navbar-text pull-left">
      <a routerLink="/page/list" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-plus">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold">
      Widgets
    </a>
  </div>
</nav>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a href="page-list.html" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a href="widget-chooser.html" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-plus">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Widgets
    </a>
  </div>
</nav>


<nav class="navbar navbar-fixed-top navbar-light bg-secondary">
  <a class="btn navbar-brand" routerLink="/user/{{userId}}/website/{{websiteId}}/page">
    <span class="glyphicon glyphicon-chevron-left text-dark"></span>
  </a>
  <div class="navbar-brand font-weight-bold">
    Widgets
  </div>
  <a class="btn navbar-brand pull-right" routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">
    <span class="glyphicon glyphicon-plus text-dark"></span>
  </a>
</nav>


<!--<div class="container cl-container-padding">-->
  <!--<div>-->
    <!--<div *ngFor="let widget of widgets">-->
      <!--<div *ngIf="widget.widgetType == 'HEADER'">-->
    <!--<div class="pull-right" routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">-->
      <!--<a href="#" class="pull-right">-->
        <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
      <!--</a>-->
      <!--<a href="widget-heading.html">-->
        <!--<span class="glyphicon glyphicon-cog"></span>-->
      <!--</a>-->
    <!--</div>-->
        <!--<h1>{{widget.text}}</h1>-->
    <!--&lt;!&ndash;<h1>London terror attack: Police fired 'unprecedented' number of rounds</h1>&ndash;&gt;-->
  <!--</div>-->


  <!--<div>-->
    <!--<div class="pull-right">-->
      <!--<a href="#" class="pull-right">-->
        <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
      <!--</a>-->
      <!--<a href="widget-heading.html">-->
        <!--<span class="glyphicon glyphicon-cog"></span>-->
      <!--</a>-->
    <!--</div>-->
    <!--<h3>Counterterrorism officers patrol near the scene of the attack on London Bridge.</h3>-->
  <!--</div>-->

  <!--<div>-->
    <!--<div>-->
      <!--<a href="#" class="pull-right">-->
        <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
      <!--</a>-->
      <!--<a href="widget-image.html" class="pull-right">-->
        <!--<span class="glyphicon glyphicon-cog"></span>-->
      <!--</a>-->
      <!--<img class="img-responsive img-rounded cl-widget-images"-->
           <!--src="http://i2.cdn.cnn.com/cnnnext/dam/assets/170604130220-41-london-bridge-incident-0604-gallery-exlarge-169.jpg">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div>-->
    <!--<div class="pull-right">-->
      <!--<a [routerLink]="['/#']" class="pull-right">-->
        <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
      <!--</a>-->
      <!--<a [routerLink]="['/#']">-->
      <!--<span class="glyphicon glyphicon-cog"></span>-->
      <!--</a>-->
    <!--</div>-->
    <!--<p>Armed officers responding to the London Bridge terror attack fired an "unprecedented" number of rounds at the three attackers because they were wearing what appeared to be suicide belts, police said.-->
    <!--</p>-->
  <!--</div>-->

  <!--<div>-->
    <!--<div class="pull-right">-->
      <!--<div *ngIf="widget.widgetType == 'IMAGE'">-->
        <!--<div>-->
          <!--<a [routerLink]="['/#']" class="pull-right">-->

        <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
      <!--</a>-->
      <!--<a href="widget-heading.html">-->
        <!--<span class="glyphicon glyphicon-cog"></span>-->
      <!--</a>-->
    <!--</div>-->
    <!--<h3>Report: Incident at London Bridge</h3>-->
  <!--</div>-->

  <!--<div>-->
    <!--<div class="embed-responsive embed-responsive-16by9">-->
      <!--<a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}" class="pull-right">-->
      <!--</a>-->
      <!--<img class="cl-widget-images" src="{{widget.url}}" alt="alt" width="{{widget.width}}">-->
    <!--</div>-->
    <!--<br>-->
  <!--</div>-->

      <!--<iframe width="640" height="360" src="https://www.youtube.com/embed/APexI9Zb6iE" frameborder="0" allowfullscreen></iframe>"-->
      <!--allowfullscreen></iframe>-->
      <!--<a href="#" class="pull-right">-->
        <!--<span class="glyphicon glyphicon-menu-hamburger" style="background-color: white"></span>-->
      <!--</a>-->
      <!--<a href="widget-youtube.html" class="pull-right">-->
        <!--<span class="glyphicon glyphicon-cog" style="background-color: white"></span>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div>-->
    <!--<div class="pull-right">-->
        <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
        <!--<span class="glyphicon glyphicon-cog"></span>-->
    <!--</div>-->
    <!--<p>There is a report of an incident has occurred at London Bridge. From CNN London.</p>-->
  <!--</div>-->

<!--</div>-->



<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
  <!--<div class="container-fluid row">-->
    <!--<div class="pull-right navbar-text">-->

      <!--<a routerLink="/profile" class="cl-icon-padding">-->
        <!--<span class="glyphicon glyphicon-user"></span>-->
      <!--</a>-->

    <!--</div>-->

    <!--<div class="pull-left navbar-text">-->
      <!--<a class="cl-icon-padding">-->
        <!--<span class="glyphicon glyphicon-play"></span>-->
      <!--</a>-->
      <!--<a class="cl-icon-padding">-->
        <!--<span class="glyphicon glyphicon-eye-open"></span>-->
      <!--</a>-->

    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

<!--/////////////////-->

<!--<div class="cl-body-padding">-->
  <!--<div *ngFor="let widget of widgets">-->
    <!--<div *ngIf="widget.widgetType == 'HEADER'">-->
      <!--<div class="pull-right">-->
        <!--<a [routerLink]="['/#']" class="pull-right">-->
          <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
        <!--</a>-->
        <!--<a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">-->
          <!--<span class="glyphicon glyphicon-cog"></span>-->
        <!--</a>-->
      <!--</div>-->
      <!--<h1>{{widget.text}}</h1>-->
    <!--</div>-->

    <!--<div *ngIf="widget.widgetType == 'IMAGE'">-->
      <!--<div>-->
        <!--<a [routerLink]="['/#']" class="pull-right">-->
          <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
        <!--</a>-->
        <!--<a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}" class="pull-right">-->
          <!--<span class="glyphicon glyphicon-cog"></span>-->
        <!--</a>-->
        <!--<img class="img-responsive cl-widget-images" src="{{widget.url}}" alt="alt" width="{{widget.width}}">-->
      <!--</div>-->
      <!--<br>-->
    <!--</div>-->

    <!--<div class="embed-responsive embed-responsive-16by9" *ngIf="widget.widgetType == 'YOUTUBE'">-->
      <!--<div>-->
        <!--<iframe width="{{widget.width}}" height="360" [src]="photoURL(widget.url)" frameborder="0" allowfullscreen>-->
        <!--</iframe>-->
        <!--<a [routerLink]="['/#']" class="pull-right">-->
          <!--<span class="glyphicon glyphicon-menu-hamburger" style="background-color: white"></span>-->
        <!--</a>-->
        <!--<a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}" class="pull-right">-->
          <!--<span class="glyphicon glyphicon-cog" style="background-color: white"></span>-->
        <!--</a>-->
      <!--</div>-->
      <!--<br>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
